html, body, figure, ul, li, h1 {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-family: sans-serif;
}

ul {
  list-style: none;
}

#snake {
  position: relative;
  margin: auto;
}

h1 {
  font-weight: bold;
  text-align: center;
  font-size: 60px;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.grid {
  position: relative;
  margin: auto;
  border: 20px solid black;
  border-radius: 20px;
  height: 960px;
  width: 960px;
  background: gray;
}

.square {
  height: 26px;
  width: 26px;
  float: left;
  border: 2px solid gray;
}

.apple {
  background: green;
}

.snake {
  background: black;
  border: 2px solid gray;
}
